{% extends 'web/layout.html.twig' %}

{% block title %}{{ 'homepage_title'|trans }}{% endblock %}

{% block main %}
  <div class="container text-center pt-5">
    <h1 class="display-4">_This is Nestor_</h1>

    <p class="lead">
      _Your groceries shopping assistant_
    </p>
  </div>
{% endblock %}
