{% extends 'globals/header.html.twig' %}

{% block header_nav %}
  <li class="nav-item">
    <a href="{{ path('app_section_index') }}" class="nav-link">
      {{ 'section_menu'|trans }}
    </a>
  </li>
{% endblock %}

{% block header_buttons %}
  <a href="{{ path('security_logout') }}" class="btn btn-sm btn-outline-nestor">
    {{ 'logout_link'|trans({},'security') }} <i class="fas fa-sign-out-alt"></i>
  </a>
{% endblock %}
