includes:
    - vendor/symplify/coding-standard/config/symplify-rules.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Kernel.php
    autoload_files:
        - bin/.phpunit/phpunit-8.5-0/vendor/autoload.php
