includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Kernel.php
        - src/DataFixtures/*
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php
