{% extends 'base.html.twig' %}

{% block bodyclass %}fixed-header{% endblock %}

{% block body %}
  {{ include('navigations/app_main.html.twig') }}
  <div class="container pt-4">
    {% block heading %}{% endblock %}
    {{ include('globals/flash_messages.html.twig') }}
    {% block main %}{% endblock %}
  </div>
  {% block modals %}{% endblock %}
{% endblock %}
