{% extends 'layouts/app.html.twig' %}

{% block title %}{{ 'section_new_title'|trans }}{% endblock %}

{% block heading %}
  <h1 class="display-4 $sectionList">{{ 'section_new_title'|trans }}</h1>
  <hr>
{% endblock %}

{% block main %}
  {{ include('section/includes/_form.html.twig') }}
{% endblock %}
