{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="display-4">Hello {{ controller_name }}!</h1>

    <p class="lead">
      This friendly message is coming from:
    </p>

    <ul>
      <li>Your controller at <code><a
            href="{{ '/Users/lionel/Sites/nestor/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code>
      </li>
      <li>Your template at <code><a
            href="{{ '/Users/lionel/Sites/nestor/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code>
      </li>
    </ul>
  </div>
{% endblock %}
