{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
  <div class="container text-center pt-5">
    <h1 class="display-4">This is Nestor</h1>

    <p class="lead">
      Your groceries shopping assistant
    </p>

    <a href="{{ path('security_login') }}" class="btn btn-lg btn-primary">
      Sign in <i class="fas fa-sign-in-alt"></i>
    </a>
    <a href="{{ path('security_register') }}" class="btn btn-lg btn-secondary">
      Register <i class="fas fa-user-edit"></i>
    </a>
  </div>
{% endblock %}
