<!-- Modal -->
<div class="modal fade" id="{% block modal_id %}{% endblock %}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title w-100">Are you sure ?</h5>
      </div>
      <div class="modal-body">
        You're about to {% block modal_action %}{% endblock %}
      </div>
      <div class="modal-footer bg-light py-2">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        {% block modal_confirm %}{% endblock %}
      </div>
    </div>
  </div>
</div>
